@charset "UTF-8";
/* CSS Document */
.tg-datatable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: normal;
	position: relative;
	border: 0px solid #eee;
	overflow: hidden;
	color: #000;
}

.tg-datatable__columnSelection {
}

.tg-datatable__header__columnContainer {
	float: left;
	padding-right: 40px;
}

.tg-datatable__body table {
	margin-bottom: 10px;
}

.tg-datatable--autoheight {
	border-bottom: 0px;
	margin-bottom: 0px;
}

.tg-datatable__columnSelection .tg-datatable__columnSelection__column {
	display: inline-block;
	overflow: hidden;
	width: 120px;
	margin: 2px 3px;
}

.tg-datatable .btnseparator {
	float: left;
	height: 22px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
	margin: 1px;
}

.tg-datatable .fbutton {
	float: left;
	display: block;
	cursor: pointer;
	padding: 1px;
}

.tg-datatable .fbutton div {
	float: left;
	padding: 1px 3px;
}

.tg-datatable .fbutton span {
	float: left;
	display: block;
	padding: 3px;
}

.tg-datatable .fbutton:hover,
.tg-datatable .fbutton.fbOver {
	padding: 0px;
	border: 1px solid #ccc;
}

.tg-datatable .fbutton:hover div,
.tg-datatable .fbutton.fbOver div {
	padding: 0px 2px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.tg-datatable__header {
	background: #fafafa; /* url(images/fhbg.gif) repeat-x bottom; */
	position: relative;
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
}

.tg-datatable__header table {
	border-right: 1px solid #fff;
}

.tg-datatable__colSizerContainer {
	float: left;
	position: absolute;
	z-index: 2;
	overflow: visible;
}

.tg-datatable__colSizerContainer div {
	float: left;
	background: none;
	display: block;
	position: absolute;
	height: 24px;
	width: 5px;
	cursor: col-resize;
}

.tg-datatable__colSizerContainer div:hover,
.tg-datatable__colSizerContainer .tg-datatable__colSizerContainer--dragging {
	background: #999;
	width: 2px;
}

.tg-datatable__body {
	border: 1px solid #ccc;
	border-top: 0px;
	background: #fff;
	overflow: auto;
	position: relative;
}

.tg-datatable__body table {
	border-bottom: 1px solid #ccc;
}

.tg-datatable__resizer--horizontal {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 5px;
	width: 5px;
	/*background: url(images/line.gif) repeat-x center;*/
	margin-right: 1px;
	cursor: col-resize;
}

.tg-datatable__resizer--horizontal:hover,
.tg-datatable__resizer--horizontal.hgOver {
	border-right: 1px solid #999;
	margin-right: 0px;
}

.tg-datatable__resizer--vertical {
	height: 5px;
	overflow: hidden;
	position: relative;
	/*background: #fafafa url(images/wbg.gif) repeat-x 0px -1px;*/
	border: 1px solid #ccc;
	border-top: 0px;
	text-align: center;
	cursor: row-resize;
}

.tg-datatable__resizer--vertical span {
	display: block;
	margin: 1px auto;
	width: 20px;
	height: 1px;
	overflow: hidden;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: none;
}

.tg-datatable__header th,
.tg-datatable__body td {
	text-align: left;
	border-right: 1px solid #ddd;
	border-left: 1px solid #fff;
	overflow: hidden;
	vertical-align: top !important;
	padding-left: 0;
	padding-right: 0;
}

.tg-datatable__header th div,
.tg-datatable__body td  div,
.tg-datatable__columnDragCopy div
	/* common inner cell properties*/ {
	padding: 5px;
	border-left: 0px solid #fff;
}

.tg-datatable__header th,
.tg-datatable__columnDragCopy {
	font-weight: normal;
	height: 24px;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
}

.tg-datatable__columnDragCopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background: #fafafa; /* url(images/fhbg.gif) repeat-x bottom; */
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
}


.tg-datatable__header--sorted {
	/*background: url(images/wbg.gif) repeat-x 0px -1px;*/
	border-bottom: 0px solid #ccc;
}

.tg-datatable__header--over {
	
}

.tg-datatable__header--over div,
.tg-datatable__header--sorted.tg-datatable__header--over div
	{
	border-bottom: 1px solid orange;
	padding-bottom: 4px;
}

.tg-datatable__header--sorted div {
	border-bottom: 0px solid #ccc;
	padding-bottom: 5px;
}

.tg-datatable__header--move {
	background: #fff;
	color: #fff;
}

.tg-datatable__header--sorted.tg-datatable__header--move div {
	border-bottom: 1px solid #fff;
	padding-bottom: 4px
}

.tg-datatable__header--move div {
	background: #fff !important;
}

.tg-datatable__header--sorted--desc {
	background: url(images/tgIMG-dataTable-sort-desc.png) no-repeat center top;
}

.tg-datatable__header--sorted--asc {
	background: url(images/tgIMG-dataTable-sort-asc.png) no-repeat center top;
}

.tg-datatable__body td {
	border-bottom: 1px solid #fff;
	vertical-align: top;
	white-space: nowrap;
}

.tg-datatable__header th div {
	
}

.tg-datatable__columnDrop--left {
	display: block;
	background: url(images/tgIMG-dataTable-column-prev.gif) no-repeat -4px center;
	width: 24px;
	height: 24px;
	position: relative;
	top: -24px;
	margin-bottom: -24px;
	z-index: 3;
}

.tg-datatable__columnDrop--right {
	display: block;
	background: url(images/tgIMG-dataTable-column-next.gif) no-repeat 12px center;
	width: 24px;
	height: 24px;
	float: right;
	position: relative;
	top: -24px;
	margin-bottom: -24px;
}

.tg-datatable__body td div {
	border-top: 0px solid #fff;
	padding-bottom: 4px;
}

.tg-datatable__row--even td {
	background: #f7f7f7;
	border-bottom: 1px solid #f7f7f7;
}

.tg-datatable__body tr:hover td {
	background: #d9ebf5;
	border-left: 1px solid #eef8ff;
	border-bottom: 1px dotted #a8d8eb;
}

.trSelected:hover td,
.trSelected td
	{
	background: #d5effc; /*url(images/hl.png) repeat-x top*/
	border-right: 1px solid #d2e3ec;
	border-left: 1px solid #eef8ff;
	border-bottom: 1px solid #a8d8eb;
}

.tg-datatable__pager {
	/*background: url(images/wbg.gif) repeat-x 0 -1px;*/
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.tg-datatable__pager__controls {
	margin-left: 2px;
	float: left;
	width: 1024px;
}

.tg-datatable__pager__controls div {
	display: inline-block;
	line-height: 32px;
	vertical-align: middle;
}

.tg-datatable-pager__button {
	cursor: pointer;
	padding: 0 5px;
}


.tg-datatable__pager__controls input,  
.tg-datatable__pager__controls select {
	vertical-align: middle;
}

/* ie adjustments */
.ie7 .tg-datatable_header th div,
.ie7 .tg-datatable__body td  div,
.ie7 .tg-datatable__columnDragCopy div
	/* common inner cell properties*/ {
	overflow: hidden;
}