@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* CSS Document */
body {
	width: 100%;
	margin: 50px;
	padding: 50px;
}
/*
.flexigrid div.fbutton .add {
	background: url(images/add.png) no-repeat center left;
}

.flexigrid div.fbutton .delete {
    background: url(images/close.png) no-repeat center left;
}

.flexigrid div.fbutton .edit {
	background: url(images/edit.png) no-repeat center left;
}
*/